# Dataset Test

In [1]:
from datasets import (Dataset, RAVDESSLabel, TESSLabel, 
                     EMOVOLabel, SAVEELabel, MFCCData, WAVData,
                     RAVDESSUnifiedLabel, TESSUnifiedLabel, SAVEEUnifiedLabel,
                     EMOVOUnifiedLabel)

from config import DATASET_PATH

## RAVDESS

### MFCC

In [18]:
ravdess_path = DATASET_PATH.format(language="english", name="RAVDESS", form="mfcc")

ravdess_mfcc = Dataset(ravdess_path, MFCCData(), RAVDESSLabel())

In [19]:
ravdess_mfcc.samples

,coefficients,frame,modality,vocal channel,emotion,emotional intensity,statement,repetition,speaker
0,"[-16.557212829589844, -2.3767523765563965, -2....",1,3,1,6,1,2,1,16
1,"[-18.223360061645508, 0.7828791737556458, -3.4...",2,3,1,6,1,2,1,16
2,"[-18.363903045654297, -2.006821632385254, -1.9...",3,3,1,6,1,2,1,16
3,"[-17.636438369750977, -0.7305245995521545, -0....",4,3,1,6,1,2,1,16
4,"[-11.347434043884277, 5.444479465484619, -0.10...",5,3,1,6,1,2,1,16
...,...,...,...,...,...,...,...,...,...
529969,"[-17.055932998657227, -2.9722414016723633, -0....",338,3,1,3,1,1,2,8
529970,"[-14.081406593322754, -4.389081001281738, -0.7...",339,3,1,3,1,1,2,8
529971,"[-15.152508735656738, -3.5148744583129883, -0....",340,3,1,3,1,1,2,8
529972,"[-14.250624656677246, -4.5221405029296875, 0.4...",341,3,1,3,1,1,2,8
529973,"[-13.315980911254883, -2.121563673019409, -2.7...",342,3,1,3,1,1,2,8

### WAV

In [4]:
ravdess_path = DATASET_PATH.format(language="english", name="RAVDESS", form="converted")

ravdess_converted = Dataset(ravdess_path, WAVData(), RAVDESSLabel())

In [5]:
ravdess_converted.samples

,sample rate,data,modality,vocal channel,emotion,emotional intensity,statement,repetition,speaker
0,16000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",3,1,5,1,2,1,16
1,16000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",3,1,6,1,2,2,16
2,16000,"[1, 0, 0, 0, 0, 2, 1, 0, 0, 0, 0, -1, 0, 0, 0,...",3,1,6,2,1,2,16
3,16000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",3,1,5,2,1,1,16
4,16000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",3,1,7,1,1,1,16
...,...,...,...,...,...,...,...,...,...
1435,16000,"[-2, -1, -2, -2, -2, -2, -1, -2, -1, -1, -2, -...",3,1,3,2,2,2,8
1436,16000,"[0, -1, -1, -1, -2, -1, -1, -1, -1, -1, -1, -2...",3,1,3,1,1,2,8
1437,16000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",3,1,2,2,1,1,8
1438,16000,"[-6, -7, -6, -6, -6, -6, -7, -6, -6, -6, -6, -...",3,1,2,1,2,1,8
1439,16000,"[6, 6, 7, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, ...",3,1,1,1,2,2,8

## Get columns

### Data columns

In [6]:
ravdess_mfcc.samples[ravdess_mfcc.data.COLUMNS]

                                             coefficients  frame
0       [-16.557212829589844, -2.3767523765563965, -2....      1
1       [-18.223360061645508, 0.7828791737556458, -3.4...      2
2       [-18.363903045654297, -2.006821632385254, -1.9...      3
3       [-17.636438369750977, -0.7305245995521545, -0....      4
4       [-11.347434043884277, 5.444479465484619, -0.10...      5
...                                                   ...    ...
529969  [-17.055932998657227, -2.9722414016723633, -0....    338
529970  [-14.081406593322754, -4.389081001281738, -0.7...    339
529971  [-15.152508735656738, -3.5148744583129883, -0....    340
529972  [-14.250624656677246, -4.5221405029296875, 0.4...    341
529973  [-13.315980911254883, -2.121563673019409, -2.7...    342

[529974 rows x 2 columns]

### Label columns

In [7]:
ravdess_mfcc.samples[ravdess_mfcc.label.COLUMNS]

,modality,vocal channel,emotion,emotional intensity,statement,repetition,speaker
0,3,1,6,1,2,1,16
1,3,1,6,1,2,1,16
2,3,1,6,1,2,1,16
3,3,1,6,1,2,1,16
4,3,1,6,1,2,1,16
...,...,...,...,...,...,...,...
529969,3,1,3,1,1,2,8
529970,3,1,3,1,1,2,8
529971,3,1,3,1,1,2,8
529972,3,1,3,1,1,2,8
529973,3,1,3,1,1,2,8

## SAVEE

In [8]:
savee_path = DATASET_PATH.format(language="english", name="SAVEE", form="mfcc")

savee_mfcc = Dataset(savee_path, MFCCData(), SAVEELabel())

In [9]:
savee_mfcc.samples

,coefficients,frame,speaker,emotion,statement
0,"[-8.32119369506836, 6.1683478355407715, 0.9182...",1,KL,a,07
1,"[-9.862707138061523, 3.0458357334136963, -0.36...",2,KL,a,07
2,"[-8.249153137207031, 5.809074401855469, -0.445...",3,KL,a,07
3,"[-8.49228286743164, 7.068631649017334, 1.43624...",4,KL,a,07
4,"[-8.981185913085938, 4.751867294311523, 0.3432...",5,KL,a,07
...,...,...,...,...,...
183323,"[-3.3241159915924072, 5.165112495422363, -0.65...",411,JK,h,05
183324,"[-4.63793420791626, 4.528049468994141, 1.27192...",412,JK,h,05
183325,"[-3.300943374633789, 3.7827775478363037, 0.380...",413,JK,h,05
183326,"[-3.755254030227661, 5.800221920013428, -0.348...",414,JK,h,05
183327,"[-3.5556201934814453, 6.936285972595215, 0.528...",415,JK,h,05

## TESS

In [10]:
tess_path = DATASET_PATH.format(language="english", name="TESS", form="mfcc")

tess_mfcc = Dataset(tess_path, MFCCData(), TESSLabel())

In [11]:
tess_mfcc.samples

,coefficients,frame,speaker,statement,emotion
0,"[-22.412139892578125, 6.224598407745361, -5.14...",1,YAF,room,disgust
1,"[-25.80614471435547, 5.799760341644287, -3.452...",2,YAF,room,disgust
2,"[-27.162357330322266, 8.087783813476562, -3.57...",3,YAF,room,disgust
3,"[-25.639556884765625, 7.432129859924316, -9.67...",4,YAF,room,disgust
4,"[-25.940189361572266, 4.011910915374756, -6.32...",5,YAF,room,disgust
...,...,...,...,...,...
569841,"[-0.9935570955276489, -0.12957985699176788, -7...",244,OAF,bar,sad
569842,"[-3.1238696575164795, -2.3342695236206055, -5....",245,OAF,bar,sad
569843,"[-6.067273139953613, -2.4020402431488037, -6.2...",246,OAF,bar,sad
569844,"[-7.943808078765869, -5.030813694000244, -8.69...",247,OAF,bar,sad
569845,"[-8.92192268371582, -2.8834807872772217, -7.51...",248,OAF,bar,sad

## EMOVO

In [12]:
emovo_path = DATASET_PATH.format(language="italian", name="EMOVO", form="mfcc")

emovo_mfcc = Dataset(emovo_path, MFCCData(), EMOVOLabel())

In [13]:
emovo_mfcc.samples

,coefficients,frame,emotion,speaker,sentence type
0,"[-13.88155460357666, -3.7609617710113525, -1.0...",1,pau,m1,n1
1,"[-14.757065773010254, -2.1784207820892334, 1.3...",2,pau,m1,n1
2,"[-14.15975570678711, -3.542041301727295, -1.30...",3,pau,m1,n1
3,"[-14.57117748260498, -4.635793209075928, -2.45...",4,pau,m1,n1
4,"[-15.402412414550781, -5.189675807952881, -1.6...",5,pau,m1,n1
...,...,...,...,...,...
182338,"[-12.808463096618652, 8.319877624511719, 4.688...",453,dis,f1,l4
182339,"[-12.573725700378418, 9.538135528564453, 5.906...",454,dis,f1,l4
182340,"[-10.934900283813477, 7.304330825805664, 3.339...",455,dis,f1,l4
182341,"[-9.914397239685059, 8.388334274291992, 1.0507...",456,dis,f1,l4
182342,"[-10.981767654418945, 8.852399826049805, -1.01...",457,dis,f1,l4

## Unified Lables

In [16]:
ravdess_path = DATASET_PATH.format(language="english", name="RAVDESS", form="mfcc")

ravdess_mfcc_unified = Dataset(ravdess_path, MFCCData(), RAVDESSUnifiedLabel())

In [17]:
ravdess_mfcc_unified.samples

,coefficients,frame,modality,vocal channel,emotion,emotional intensity,statement,repetition,speaker
0,"[-16.557212829589844, -2.3767523765563965, -2....",1,3,1,2,1,2,1,16
1,"[-18.223360061645508, 0.7828791737556458, -3.4...",2,3,1,2,1,2,1,16
2,"[-18.363903045654297, -2.006821632385254, -1.9...",3,3,1,2,1,2,1,16
3,"[-17.636438369750977, -0.7305245995521545, -0....",4,3,1,2,1,2,1,16
4,"[-11.347434043884277, 5.444479465484619, -0.10...",5,3,1,2,1,2,1,16
...,...,...,...,...,...,...,...,...,...
529969,"[-17.055932998657227, -2.9722414016723633, -0....",338,3,1,4,1,1,2,8
529970,"[-14.081406593322754, -4.389081001281738, -0.7...",339,3,1,4,1,1,2,8
529971,"[-15.152508735656738, -3.5148744583129883, -0....",340,3,1,4,1,1,2,8
529972,"[-14.250624656677246, -4.5221405029296875, 0.4...",341,3,1,4,1,1,2,8
529973,"[-13.315980911254883, -2.121563673019409, -2.7...",342,3,1,4,1,1,2,8

## Test

In [24]:
ravdess_emotions = list(ravdess_mfcc.samples['emotion'])
ravdess_unified_emotions = list(ravdess_mfcc_unified.samples['emotion'])

In [33]:
list(map(ravdess_mfcc.label.EMOTION_OPTIONS.get, ravdess_emotions))[-1]

'happy'

In [32]:
list(map(ravdess_mfcc_unified.label.EMOTION_OPTIONS.get, ravdess_unified_emotions))[-1]

'happiness'