In [1]:
from classes import Dataset, RAVDESSLabel, MFCCData, WAVData
from config import DATASET_PATH

## Reuse code

In [2]:
path = DATASET_PATH.format(language="english", name="RAVDESS", form="mfcc")

ravdess_mfcc = Dataset(path, MFCCData(), RAVDESSLabel())

In [3]:
ravdess_mfcc.samples

,coefficients,frame,modality,vocal channel,emotion,emotional intensity,statement,repetition,actor
0,"[-16.557212829589844, -2.3767523765563965, -2....",1,3,1,6,1,2,1,16
1,"[-18.223360061645508, 0.7828791737556458, -3.4...",2,3,1,6,1,2,1,16
2,"[-18.363903045654297, -2.006821632385254, -1.9...",3,3,1,6,1,2,1,16
3,"[-17.636438369750977, -0.7305245995521545, -0....",4,3,1,6,1,2,1,16
4,"[-11.347434043884277, 5.444479465484619, -0.10...",5,3,1,6,1,2,1,16
...,...,...,...,...,...,...,...,...,...
529969,"[-17.055932998657227, -2.9722414016723633, -0....",338,3,1,3,1,1,2,8
529970,"[-14.081406593322754, -4.389081001281738, -0.7...",339,3,1,3,1,1,2,8
529971,"[-15.152508735656738, -3.5148744583129883, -0....",340,3,1,3,1,1,2,8
529972,"[-14.250624656677246, -4.5221405029296875, 0.4...",341,3,1,3,1,1,2,8
529973,"[-13.315980911254883, -2.121563673019409, -2.7...",342,3,1,3,1,1,2,8

In [4]:
path = DATASET_PATH.format(language="english", name="RAVDESS", form="converted")

ravdess_converted = Dataset(path, WAVData(), RAVDESSLabel())

In [5]:
ravdess_converted.samples

,sample rate,data,modality,vocal channel,emotion,emotional intensity,statement,repetition,actor
0,16000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",3,1,5,1,2,1,16
1,16000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",3,1,6,1,2,2,16
2,16000,"[1, 0, 0, 0, 0, 2, 1, 0, 0, 0, 0, -1, 0, 0, 0,...",3,1,6,2,1,2,16
3,16000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",3,1,5,2,1,1,16
4,16000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",3,1,7,1,1,1,16
...,...,...,...,...,...,...,...,...,...
1435,16000,"[-2, -1, -2, -2, -2, -2, -1, -2, -1, -1, -2, -...",3,1,3,2,2,2,8
1436,16000,"[0, -1, -1, -1, -2, -1, -1, -1, -1, -1, -1, -2...",3,1,3,1,1,2,8
1437,16000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",3,1,2,2,1,1,8
1438,16000,"[-6, -7, -6, -6, -6, -6, -7, -6, -6, -6, -6, -...",3,1,2,1,2,1,8
1439,16000,"[6, 6, 7, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, ...",3,1,1,1,2,2,8

## Get column ranges

In [6]:
ravdess_mfcc.samples[ravdess_mfcc.data.COLUMNS]

                                             coefficients  frame
0       [-16.557212829589844, -2.3767523765563965, -2....      1
1       [-18.223360061645508, 0.7828791737556458, -3.4...      2
2       [-18.363903045654297, -2.006821632385254, -1.9...      3
3       [-17.636438369750977, -0.7305245995521545, -0....      4
4       [-11.347434043884277, 5.444479465484619, -0.10...      5
...                                                   ...    ...
529969  [-17.055932998657227, -2.9722414016723633, -0....    338
529970  [-14.081406593322754, -4.389081001281738, -0.7...    339
529971  [-15.152508735656738, -3.5148744583129883, -0....    340
529972  [-14.250624656677246, -4.5221405029296875, 0.4...    341
529973  [-13.315980911254883, -2.121563673019409, -2.7...    342

[529974 rows x 2 columns]

In [8]:
ravdess_mfcc.samples[ravdess_mfcc.label.COLUMNS]

,modality,vocal channel,emotion,emotional intensity,statement,repetition,actor
0,3,1,6,1,2,1,16
1,3,1,6,1,2,1,16
2,3,1,6,1,2,1,16
3,3,1,6,1,2,1,16
4,3,1,6,1,2,1,16
...,...,...,...,...,...,...,...
529969,3,1,3,1,1,2,8
529970,3,1,3,1,1,2,8
529971,3,1,3,1,1,2,8
529972,3,1,3,1,1,2,8
529973,3,1,3,1,1,2,8